{{define "header"}}
<header class="head">
    <div class="container">
        <div class="left">
            <img src="./content/img/logo.png" alt="">
            <div class="title">
                <span>KEYFORPLAY.RU</span>
                <br>
                <div class="l">МАГАЗИН ЦИФРОВЫХ ТОВАРОВ</div>
            </div>
        </div>
        <div class="center">
            <input class="search" placeholder="Введите название или жанр игры." />
        </div>

        <div class="right">
            <div class="icon"><img src="./content/img/option.png" class="f" alt=""></div>
            <div class="icon"><img src="./content/img/pencil.png" class="h" alt=""></div>
        </div>
    </div>
</header>
{{end}}